DOMAIN=
IMAGE_URI=
LETSENCRYPT_EMAIL=

MIXPANEL_TOKEN=
SESSION_SECRET=randomstring

VITE_FEATURE_ASSET_TYPES=3D_MODEL,AUDIO,IMAGE,IMAGE_OVERLAY,IMAGE_SPHERE
VITE_FEATURE_REGISTRATION=true
VITE_FEATURE_TRANSITIONS=true
VITE_GOOGLE_WEBFONTS_API_KEY=
VITE_MAPBOX_ACCESS_TOKEN=
VITE_SITE_TITLE="XR Tour"
